<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ionic Push Notifications </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic Push Notifications</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="token">
          <pre>{{ token }}</pre>
        </div>
      </ion-col>
    </ion-row>
    <ion-row
      ><ion-col>
        <div *ngIf="token !== fcm.DEFAULT_TOKEN">
          <ion-button (click)="copy()" expand="block">COPY</ion-button>
        </div>
      </ion-col></ion-row
    >
  </ion-grid>
</ion-content>
