<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ionic Push Notifications </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic Push Notifications</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let message of messages; let i = index">
      <ion-label>{{ i + 1 }}. {{ message }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
